<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Quiz App</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>youtubequizapp</h1>

    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for msg in messages %}
                <li>{{ msg }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="#" method="post">
        <p>Insert YouTube Video URL here: </p>
        <input type="text" name="video_url" placeholder="YouTube Video URL">
        <input type="submit" value="Submit">
    </form>
</body>
</html>